.login-form__input {
  width: 70%;
  align-self: center;
  background-color: #f1eeee;
  height: 4rem;
  margin-bottom: 2.5rem;
  outline: none;
  border: none;
  padding-left: 2rem;
  font-size: 1.7rem;
  border-radius: 40px;
  font-family: inherit;
  font-weight: 500;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .login-form__input {
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
